{% extends 'index.html' %}
{% block title %}View tweet{% endblock %} 
{% block content%}
<hr>
<p>{{tweet.name}} ({{tweet.username}})</p>
<p>{{ tweet.content }}</p>
<hr>
{% for comment in all_comments %}
    <p>{{comment.name}} ({{comment.username}}) wrote {{comment.content}}</p>
    <hr>
{% endfor %}
{% if mess %}
    {{ mess }}
{% endif %}
<div><a href="{{ url_for('comments.new', id= tweet.id) }}">Add a comment</a></div>
<div><a href="{{url_for('tweets.delete', id = tweet.id)}}">Delete tweet</a></div>
{% with messages = get_flashed_messages() %}
    <div class=flashes>
    {% if messages %}
        <ul>
        {% for message in messages %}<li>
            <span style=“color:orange”>{{ message }}</span> </li>{% endfor %}
        </ul>
        {% endif %}
        </div>

    {% endwith %}
    </div>

{% endblock %}