{% block tweets_list %}
<div class="tweets">     
    {% for tweet in tweets%}
    <div class="tweet">
        <h3><div id="tweet">{{user.name}} tweeted: {{tweet.content}}</div></h3>
        <h4> Comments:<h4>
        {% for comment in tweet.comments %}
            {{comment.user.username}} : <br>{{comment.content}}
                {% if user.id == comment.id_user%}
            <form action="{{url_for('comments.destroy', id = comment.id)}}" method="POST">
               <input type="submit" value="Delete comment">
            </form>
                {% endif %}
            <hr>
        {% endfor %}
        <form method="post" action="/comments/new">
            <input type="hidden" name="tweet_id" value="{{tweet.id}}">
            <input type="text" name="content" placeholder="add a comment"></input>
            <button type="submit">Submit</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
