{% block navigation %} 

{% with messages = get_flashed_messages() %}
    <div class=flashes>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>
                {{ message.upper() }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endwith %}

<div class="split left">
        <div class="menu">
            <ul>
                <li>
                    <a href="{{ url_for('home.index') }}">Home</a>
                </li>

                <li><a href="/feed">My Tweets</a></li>
                <li><a href="/tweets/new">New Tweeet</a></li>
            </ul>
            
        </div>
        <div class="login">
            {% if current_user %}
                <h4>Hello {{current_user.username}}!</h4>
                <a href="{{ url_for('users.logout') }}">Logout</a>  
            {% else %}
                 <h4>Hello Guest!</h4>
                <a href="{{ url_for('users.login') }}">Login</a>
                <a href="{{ url_for('users.register_form') }}">Register</a>
                <a href="/recovery/request"><i>Recover password</i></a><br>
            {% endif %}
        </div>
</div>

{% endblock %}
