{% extends "index.html" %}
{% block title %}Register{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
<div class=flashes>
    {% if messages %}
      <ul >
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
  {% endif %}
</div>
{% endwith %}

<div class="center">
  <h2>Registration Form</h2>
  {% if error is string %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% elif error is sequence %}
      {% for item in error %}
        <li> {{ item }} </li>
      {% endfor %}
  {% endif %}
  <div class="register">
    <form action="{{ url_for('users.register') }}" method="POST">
      <dl>

        <label for="email">Email</label>
        <br>
        <input type="text" name="email"
               placeholder="Email must be unique!"
               value="{{ request.form['email'] }}">
         <br>
        <label for="username">Username</label>
        <br>
        <input type="text" name="username"
               placeholder="User must be unique!"
               value="{{ request.form['username'] }}">
                 
        </input>
        <br>
        <label for="name">name</label>
        <br>
        <input type="text" name="name"
               placeholder="Your name .."
               value="{{ request.form['name'] }}">
                 
        </input>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password"
               placeholder="Choose a strong password.">
                 
        </input>
        <br>
        <label for="password">Confirm Password</label>
        <br>
        <input type="password" name="re_password"
               placeholder="Confirm the password">
                 
        </input>
        <br>
        <br>
        <input type="submit" value="Register"></input>

    </form>
  </div>
</div>
{% endblock %}
